{%extends "base.html"%}

{%block content%}
    <b>{{object.name}}</b><br>
	{{object.desc}}<br>
	Owner: {{object.owner}}<br>
	Builders: <br>
	{% for builder in builder_list %}
	   {{builder.username}} - {{builder.email}}<br>
	{%endfor%}
	<form action="{% url project_apply %}" method="post">
	    {% csrf_token %}
	    <input type="hidden" value="{{object.id}}" name="project_id"/>
	    {% load project_tags %}
	    <input type="submit" value="{% check_project_applied object %}"/>
	</form>
	
{%endblock%}