{%extends "base.html"%}
{% load project_tags %}
{%block content%}   
  
    Listing {{object_list.count}} projects.<br>
    {%for i in object_list%}
        <form action="{%url project_apply%}" method="POST">
            {% csrf_token %}
    	   {{i.id}} - 
    	   <b><a href="{{i.get_absolute_url}}">{{i.name}}</a></b><br>
    	   <i>{{i.desc}}</i><br>
    	   <input type="hidden" name="project_id" value="{{i.id}}"/>	        	       	  
    	   <input type="submit" value="{% check_project_applied i %}"/>      	   
	   </form>
	{%endfor%}
{%endblock%}