{%extends "base.html"%}

{%block content%}
    <b>{{object.name}}</b><br>
	{{object.desc}}<br>
	Owner: {{object.owner}}<br>
	Builders: <br>
	{% for builder in builders %}
	   {{builder.username}} - {{builder.email}}<br>
	{%endfor%}
	{% ifnotequal user.id object.owner.id %}   
    	<form action="{% url project_apply %}" method="post">
    	    {% csrf_token %}
    	    <input type="hidden" value="{{object.id}}" name="project_id"/>
    	    {% load project_tags %}
    	    <input type="submit" value="{% check_project_applied object %}"/>
    	</form>
	{% else %}	
        {% if waitlist %}
        {# builder endorsing options #}
           <form action="{% url project_endorse %}" method="post">
           {% csrf_token %}
           <input type="hidden" value="{{object.id}}" name="project_id"/>
           {% for builder in waitlist %}	                 
                <br>
                {{builder.email}}
                <input type="checkbox" name="waitlist_accept" value="{{builder.id}}"></input>
                <input type="checkbox" name="waitlist_reject" value="{{builder.id}}"></input>
           {% endfor %}
           </br>
           <input type="submit" value="Endorse">
           </form>
        {% endif %}      	
    {% endifnotequal %}	
{%endblock%}